<div class="header-container"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <div class="site-name">Shop Online</div>

    <div class="header-bar">
        <th:block sec:authorize="isAuthenticated()">

            <th:block sec:authorize="!isAuthenticated()">
                <a th:href="@{/admin/login}">Login</a>
                &nbsp;|&nbsp;
            </th:block>

            <a th:href="@{/admin/logout}">Logout</a>
        </th:block>

    </div>

</div>