<!DOCTYPE html>
<html xml:th= "http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Shop Online</title>
  <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
</head>
<body>
<th:block th:include="/header"></th:block>
<th:block th:include="/menu"></th:block>

<div class="page-title">Shopping Cart </div>
<div class="demo-container">
  <img src="https://cafefcdn.com/thumb_w/650/203337114487263232/2022/3/3/photo1646280815645-1646280816151764748403.jpg" alt="monleo" width="850" height="500">
</div>

</body>
</html>


