<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<th:block th:include="/header"></th:block>
<th:block th:include="/menu"></th:block>

<div class="login-container">
    <h3>Enter username and password</h3>
    <br>
    <th:block th:if="${#session != null && #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}">
        <div th:if= "${#request.getParameter('error') == 'true'}"
             style="color: red; margin: 10px 0px;">
            Login Failed!!!<br /> Reason :
            <span th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}"></span>
        </div>
    </th:block>

    <form method="POST"
          th:action="@{/j_spring_security_check}">
        <table>
            <tr>
                <td>User Name *</td>
                <td><input name="userName" /></td>
            </tr>
            <tr>
                <td>Password *</td>
                <td><input type="password" name="password" /></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Login" />
                    <input type="reset"  value="Reset" />
                </td>
            </tr>
        </table>
    </form>

    <span class="error-message" th:utext="${error}"></span>
</div>

</body>
</html>