<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Enter Customer Information</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<th:block th:include="/header"></th:block>
<th:block th:include="/menu"></th:block>

<div class="page-title">Enter Customer Information</div>

<form method="POST" th:object = "${customerForm}" th:action="@{/shoppingCartCustomer}">

    <table>
        <tr>
            <td>Name *</td>
            <td><input th:field="*{name}" /></td>
            <td>
                  <span class="error-message"
                        th:if="${#fields.hasErrors('name')}" th:errors="*{name}">..</span>
            </td>
        </tr>
        <tr>
            <td>Email *</td>
            <td><input th:field="*{email}" /></td>
            <td>
                  <span class="error-message"
                        th:if="${#fields.hasErrors('email')}" th:errors="*{email}">..</span>
            </td>
        </tr>
        <tr>
            <td>Phone *</td>
            <td><input th:field="*{phone}" /></td>
            <td>
                  <span class="error-message"
                        th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">..</span>
            </td>
        </tr>
        <tr>
            <td>Address *</td>
            <td><input th:field="*{address}" /></td>
            <td>
                  <span class="error-message"
                        th:if="${#fields.hasErrors('address')}" th:errors="*{address}">..</span>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="Submit" /> <input type="reset"
                                                              value="Reset" /></td>
        </tr>
    </table>

</form>

</body>
</html>